@import "tailwindcss";

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: 500, 600, 700;
    font-style: normal;
}

@theme{
    --font-sans: "LeagueSpartan";

    --text-base: 16px;

    --breakpoint-mobile: 375px;

    --color-white: hsl(0, 100%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --color-grey-500: hsl(0, 0%, 63%);
    --color-grey-800: hsl(0, 0%, 27%);
}

@layer components {
    .nav-link {
        @apply text-4xl font-bold
        transition-colors duration-300 ease-in;
    }
    .nav-link:hover, .nav-link:active {
        @apply text-grey-500;
    }

    .slider-arrow{
        @apply p-6 transition-all duration-150 ease-in-out rounded-full;
    }
    .slider-arrow:hover{
        @apply md:bg-grey-800;
    }
    .slider-arrow:active{
        @apply bg-grey-800;
    }
    #arrow-left:active{
        @apply -rotate-12;
    }
    #arrow-right:active{
        @apply rotate-12;
    }
}

